:root {
  --color-dark-blue-1: hsl(217, 28%, 15%);
  --color-dark-blue-2: hsl(218, 28%, 13%);
  --color-dark-blue-3: hsl(216, 53%, 9%);
  --color-dark-blue-4: hsl(219, 30%, 18%);
  --color-cta-1: hsl(176, 68%, 64%);
  --color-cta-2: hsl(198, 60%, 50%);
  --color-white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--color-dark-blue-1);
}

.heading,
.cta,
.header__navigation {
  font-family: Raleway, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 130rem;
  margin: 0 auto;
  padding-top: 7.5rem;
}

.header .logo__link {
  display: inline-block;
}

.header .logo__link img {
  width: 18rem;
  height: auto;
}

.header .header__navigation .nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__navigation .nav__item {
  list-style-type: none;
}

.header .header__navigation .nav__item:not(:last-child) {
  margin-right: 5.5rem;
}

.header .header__navigation .nav__link {
  color: var(--color-white);
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: capitalize;
  font-weight: 400;
  letter-spacing: 1px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  margin-top: 7rem;
}

.hero__heading {
  margin-top: 3.7rem;
}

.hero__text {
  color: var(--color-white);
  margin-top: 3.5rem;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  max-width: 32%;
}

.hero__btn {
  margin-top: 3rem;
}

.heading {
  color: var(--color-white);
  font-size: 3.9rem;
  text-align: center;
  line-height: 1.5;
  letter-spacing: .5px;
}

.btn {
  text-decoration: none;
}

.btn--primary {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-white);
  padding: 1.8rem 9.5rem;
  border-radius: 100px;
  -webkit-box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--color-cta-1)), to(var(--color-cta-2)));
  background-image: linear-gradient(to right, var(--color-cta-1), var(--color-cta-2));
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn--primary:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(var(--color-cta-1)), to(var(--color-cta-2)));
  background-image: linear-gradient(to left, var(--color-cta-1), var(--color-cta-2));
}
/*# sourceMappingURL=main.css.map */