

.heading {

    color: var(--color-white);
    font-size: 3.9rem;
    text-align: center;
    line-height: 1.5;
    //word-spacing: .1rem;
    letter-spacing: .5px;

    &--primary {

    }

    &--secondary {

    }
}